openapi: 3.1.0
info:
  title: moviLink URL Maker
  description: Creates a moviLink route URL from structured route points.
  version: 1.0.0
servers:
  - url: https://go.usuiensan.dev
paths:
  /api/movilink:
    post:
      operationId: createMoviLinkUrl
      summary: Create a moviLink route URL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Route"
      responses:
        "200":
          description: Successfully generated moviLink URL
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url:
                    type: string
                    format: uri
        "400":
          description: Invalid route parameters
components:
  schemas:
    Point:
      type: object
      required: [lat, lon, name]
      properties:
        lat:
          type: number
          minimum: -90
          maximum: 90
        lon:
          type: number
          minimum: -180
          maximum: 180
        name:
          type: string
    Route:
      type: object
      required: [name, to]
      properties:
        name:
          type: string
        from:
          anyOf:
            - $ref: "#/components/schemas/Point"
            - type: "null"
        via:
          type: array
          maxItems: 9
          items:
            $ref: "#/components/schemas/Point"
        to:
          $ref: "#/components/schemas/Point"
